* {
  box-sizing: border-box;
}

html, body,
ul, ol, li,
h1, h2, h3, h4, h5, h6, p, div {
  margin: 0;
  padding: 0;
}

body {
	font-family: 'Poppins', sans-serif;
	background: #f7f7f7 fixed center;
}

#wa-button a button:hover {
	background-color: #2f303f;
}

#ignielToTop {display:none;opacity: 0.6;z-index:99999;position:fixed;bottom:115px;right:15px;border-radius:4px;cursor:pointer;transition:all .4s;width:35px;height:35px;background:#333333 url("data:image/svg+xml,%3Csvg viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7.41,15.41L12,10.83L16.59,15.41L18,14L12,8L6,14L7.41,15.41Z' fill='%23fff'/%3E%3C/svg%3E") no-repeat center center}
#ignielToTop:hover{opacity: 1;background:#2f303f url("data:image/svg+xml,%3Csvg viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7.41,15.41L12,10.83L16.59,15.41L18,14L12,8L6,14L7.41,15.41Z' fill='%23fff'/%3E%3C/svg%3E") no-repeat center center}

.page-section {
  padding: 50px;
}

#banner {
	background: url("https://raw.githubusercontent.com/kurniawanagilfahriza/design-logo.github.io/main/banner.jpg") no-repeat center fixed;
	background-size: cover;
	height: 100vh;
	text-align: center;
  padding-top: 40px;
}

#banner .jumbotron {
  background-color: rgba(255,255,255,0.8);
  width: 650px;
  height: 550px;
  margin-left: 5px;
	padding-bottom: 0px;
}

#banner .text-banner-1 {
	color: rgba(0,0,0,0.75);
    font-family: "Audiowide";
    font-size: 70px;
    font-weight: 700;
    line-height: 1em;
    letter-spacing: 1px;
}

#banner .text-banner-2 {
    font-family: "Poppins", Sans-serif;
    font-size: 22.5px;
    letter-spacing: 0.5px;
    color: #ff6600;
    /*color: #ff5200;*/
    font-weight: bold;
}

@media (max-width: 700px) {
	#banner .jumbotron {
		width: 80% !important;
		height: 90% !important;
		margin-left: 10%;
		margin-top: 15%
	}
	#banner .text-banner-1 {
		width: 100%;
    		font-size: 30px;
   		font-family: "Audiowide";
		margin-bottom: 10px;
	}
	#banner .text-banner-2 {
		font-size: 1.2em;
	}
}

#banner button {
	background-color: #ff5200;
	color: white;
	font-weight: bold;
	margin-top: 22px;
	font-family: 'Lexend Peta', sans-serif;
	border-radius: 100px;
}

#banner button:hover,
#paket button:hover {
	background: #ca5116;
}

#portfolio {
	background-color: #6fe8e2;
}

#portfolio h1, #portfolio p {
	font-weight: bold;
	margin-bottom: 15px;
}

#portfolio img {
	width: 250px;
	padding-bottom: 30px;
  padding-left: 5%;
  padding-right: 5%;
  text-align: center;
}

#portfolio .row2 {
	margin-top: 30px;
}

@media (max-width: 700px) {
	#portfolio img {
		width: 100% !important;
	}
}

#about {
	background-color: #d19919;
}

#about img {
	width: 80px;
	margin-bottom: 30px;
}

#about h5 {
	font-weight: bold;
	font-size: 21px;
	letter-spacing: 10px;
}

#about p {
	margin-top: 20px;
	color: white;
	padding: 0 25px 50px;
	letter-spacing: 0.5px;
}

#paket {
		background: url("https://raw.githubusercontent.com/kurniawanagilfahriza/design-logo.github.io/main/banner-2.jpg") fixed center;
}

#paket h1,
#testimoni h1,
#project h1 {
	font-family: 'Raleway', Sans-serif;
	margin-bottom: 40px;
	font-weight: 700;
	letter-spacing: 2px;
}

#paket img {
	width: 250px;
}

@media (max-width: 700px) {
	#paket img {
		width: 100%;
	}
}

#paket .paket {
	padding-left: 50px;
	padding-top : 19px;
}

#paket .paket h3,
#testimoni .img-content h4 {
	font-family: 'Raleway', Sans-serif;
}

#paket .paket p {
	font-family: "Roboto", Sans-serif;
    font-weight: 400;
    color: #7a7a7a;
    line-height: 25px;
}

#paket button {
	background-color: #ff5200;
	color: white;
	font-weight: bold;
	margin-top: 35%;
	font-family: 'Lexend Peta', sans-serif;
	border-radius: 100px;
}

@media (max-width: 700px)  {
	#paket button {
		margin: 7% 0 12% 5% !important;
		/*margin-bottom: 15%;*/
	}
}

.wrapper-img {
  width:350px;
  height:300px;
  overflow:hidden;
}

.img-box,
.img-content {
  height:300px;
  transition:margin-top .4s ease-in-out .4s;
}

.img-content p {
	color: #6b6b6b;
	font-weight: 600;
}

.wrapper-img:hover .img-box {margin-top:-200px}

#project {
	background-color: #d19919;
}

#carouselExampleCaptions .carousel-item h5 {
	font-family: "Roboto", Sans-serif;
	font-weight: 600;
}

#project .contact a {
	text-decoration: none;
	background-color: #eae200;
	font-family: "Archivo Narrow", Sans-serif;
	color: #0c0c0c;
	font-size: 47px;
	font-weight: 500;
	padding: 20px 100px;
	border-radius: 10px;
}

#project .contact {
	margin: 50px;
}

#project .contact a:hover {
	background-color: #e5df88;
}

#project hr {
	background-color: white;
	padding-bottom: 1px;
	margin-bottom: 20px;
}

#project .caption {
	color: #333333;
	font-size: 45px;
	font-weight: 900;
	letter-spacing: 1px;
	margin-bottom: 10px;
}

#project .caption-2 {
	color: #333333;
	font-size: 16px;
	font-weight: 400;
	letter-spacing: 0.5px;
	margin-bottom: 20px;
	font-family: "Roboto", Sans-serif;
}

#carouselExampleCaptions-2 .carousel-caption {
	background : rgba( 0,0,0,0.5);
	font-family: "Roboto", Sans-serif;
	color: white;
	left: 0;
	right:0;
	bottom: 0;
	padding-bottom: 30px;
}

#project .contact-2 a {
	text-decoration: none;
	background-color: #0c0008;
	font-family: "Archivo Narrow", Sans-serif;
	color: #eae200;
	font-size: 50px;
	font-weight: 500;
	padding: 10px 150px;
	border-radius: 7px;
	line-height: 1;
}

#project .contact-2 {
	margin: 50px 0 0;
}

#project .contact-2 a:hover {
	background-color: #595238;
}

@media (max-width: 878px) {
	#project .contact {
		margin: 20px 0 40px;
	}
	#project .contact a {
		font-size: 0.5em;
		padding: 20px 10px;
	}
  #portfolio img {
    width: 100%;
    margin-left: -3px;
  }
  #testimoni img {
    margin-left: -5px;
  }
}

@media (max-width: 700px) {
	#project .contact-2 a {
		font-size: 1em;
		padding: 10px 20px;
	}
}
